@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap");

.navivationArrows-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 5px;
}

.navigationArrows-content-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.arrowUp,
.arrowDown {
  width: 26px;
  height: auto;
}

.vertical-line {
  border: 1px solid black;
  height: 80px;
}

/* TOP MENU */
.menu-wrapper {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 100px 0 0;
}

.menu-container {
  background-color: black;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  padding: 0 20px 17px 20px;
  border-bottom-right-radius: 10px;
}

.adidas-logo {
  width: 50px;
  height: auto;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

a::before,
.about-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #d3d3d3;
  bottom: -7px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before,
.about-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.text-links {
  color: #ffffff;
  line-height: 0.6em;
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}

.about-link {
  cursor: pointer;
  position: relative;
}

/* CART DESKTOP */
.cart-desktop-container {
  width: 65px;
  /* height: 75px; */
  background-color: black;
  align-self: center;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  transition: height 0.2s ease-in-out;
  padding-bottom: 17px;
  margin-top: -100px;
}

/* .cart-desktop-container:hover {
  height: 100px;
} */

.handbag-icon {
  width: 28px;
  height: auto;
  z-index: 30;
  color: #ffffff;
  cursor: pointer;
}
