@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap");

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(211, 211, 211, 1); */
  /* background-color: rgb(241, 241, 241, 1); */
  background-color: rgb(126, 126, 126, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
  border: 6px solid black;
  border-radius: 10px;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(70%, 400px);

  margin: auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* border: 1px solid red; */
  z-index: 45;

  background-color: rgb(255, 255, 255);

  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

  /* Nice plastic border */
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.cart-contents-container {
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding-bottom: 18px;
}
.header,
.header-quantity {
  font-family: "Tektur", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.header {
  margin: 0;
  line-height: 1;
}
.header-quantity {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: -1px;
}

.cart-sections-container {
  display: grid;
  grid-template-areas: ". one two three four five" "hr hr hr hr hr hr";
  grid-template-rows: auto;
}

.one,
.two,
.three,
.four,
.five {
  display: flex;
  justify-content: flex-end;
}
.one {
  grid-column: 2;
  grid-row: 1;
}
.two {
  grid-column: 3;
  grid-row: 1;
}
.three {
  grid-column: 4;
  grid-row: 1;
}
.four {
  grid-column: 5;
  grid-row: 1;
}
.five {
  grid-column: 6;
  grid-row: 1;
  padding-right: 20px;
}
.hr {
  border: 1px solid black;
  grid-column: 1 / span 6;
  grid-row: 2;
  margin-top: 5px;
}
