.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.9); */
  background: rgba(211, 211, 211, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
  border: 6px solid black;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid red;
  z-index: 45;
}
