@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Tektur:wght@400;500;600&display=swap");

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: rgba(211, 211, 211, 1); */
  /* background-color: rgb(241, 241, 241, 1); */
  background-color: rgb(126, 126, 126, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
  border: 6px solid black;
  border-radius: 10px;
  overflow-y: scroll;
  padding-bottom: 30px;
}

.modal {
  width: clamp(50%, 700px, 90%);
  height: min(70%, 400px);

  margin: auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 45;
  background-color: rgb(255, 255, 255);

  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */

  /* Nice plastic border */
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
}

.cart-contents-container {
  width: 100%;
}
.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  padding-bottom: 18px;
}
.header,
.header-quantity {
  font-family: "Tektur", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.header {
  margin: 0;
  line-height: 1;
}
.header-quantity {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: -1px;
}

/* TABLE */
table {
  border-collapse: collapse;
  vertical-align: middle;
  width: 100%;
  font-family: "Inter", sans-serif;
  text-align: center;
  letter-spacing: 0.03rem;
}
th {
  font-size: 1rem;
  font-weight: 500;
}
.hr,
.hr-bottom {
  border-top: 1px solid black;
  width: 100%;
}

td {
  font-size: 0.87rem;
  font-weight: 300;
}
thead,
th {
  padding: 5px;
}
.quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.plus-icon,
.minus-icon {
  width: 19px;
  height: 19px;
  cursor: pointer;
  margin-top: 5px;
}
.plus-icon {
  margin-right: 10px;
}
.minus-icon {
  margin-left: 10px;
}
.quantity-table {
  width: 20px;
}
.shoe-icon {
  width: 60px;
  height: auto;
}
.subtotal-container {
  text-align: end;
}
.subtotal-container td {
  padding-top: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.cart-mobile-container,
.cart-container-mobile {
  display: none;
}

@media (max-width: 650px) {
  .modal {
    width: clamp(50%, 700px, 90%);
    height: auto;
  }

  table {
    display: none;
  }

  .header-container {
    justify-content: center;
    align-items: center;
  }

  .cart-contents-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-container-mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    gap: 10px;
  }
  .product-card-mobile {
    display: flex;
    gap: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }
  .shoe-icon-mobile {
    max-width: 80px;
    height: 100%;
  }
  .product-details-container-mobile {
  }
  .product-details-container-mobile p {
    font-family: "Inter", "sans-serif";
  }
  .product-name-mobile {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
  }
  .product-color-mobile {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 5px;
  }
  .product-size-mobile {
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .quantity-container {
    justify-content: flex-start;
    text-align: center;
    margin-bottom: 10px;
  }
  .product-price-mobile {
    font-weight: 500;
    font-size: 0.95rem;
  }
  .subtotal-container-mobile {
    text-align: center;
  }
  .hr-mobile {
    border-top: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  .subtotal-mobile {
    font-family: "Inter", "sans-serif";
    font-weight: 600;
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {
  .modal {
    margin-top: 80px;
  }
  .product-card-mobile {
    flex-direction: column;
  }
  .cart-container-mobile {
    max-width: 100%;
  }
}

@media (max-width: 260px) {
  .header-container {
    flex-direction: column;
  }
}
