.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  position: relative;
  border: 6px solid black;
  border-radius: 10px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-direction: column;
}

h1 {
  color: rgb(226, 226, 226);
}

.one {
  background-color: rgb(36, 164, 138);
}

.two {
  background-color: rgb(211, 79, 79);
}
