.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  position: relative;
  border: 6px solid black;
  border-radius: 10px;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-direction: column;
}

h1 {
  color: rgb(226, 226, 226);
}

.navivationArrows-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 5px;
}

.navigationArrows-content-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.arrow-container {
}
.arrowUp,
.arrowDown {
  width: 26px;
  height: auto;
}

.vertical-line {
  border: 1px solid black;
  /* height: 80px; */
}

.homeSection {
  background-color: rgb(241, 241, 241, 1);
}
