@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Tektur:wght@400;500;600&display=swap");

.about-modal-wrapper {
  width: clamp(50%, 700px, 90%);
  height: auto;
  margin: auto;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 45;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2); /* Nice plastic border */
  overflow-y: auto;
}
@media (max-width: 310px) {
  .about-modal-wrapper {
    margin-top: 100px;
  }
}
@media (max-width: 500px) {
  .about-modal-wrapper {
    display: none;
  }
}
.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-header {
  font-family: "Tektur", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin: 0;
}
.close-button {
  width: 20px;
  height: 20px;
  margin-top: 3px;
  cursor: pointer;
}

.copy-container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.features-container,
.tech-container,
.name-role-container {
  margin-top: 20px;
}
.tech-header,
.features-header,
.name-header {
  font-weight: 600;
}
.name-header {
  color: black;
  text-decoration: underline;
}
.name-header::before {
  content: normal;
}
.name-header:hover::before {
  transform-origin: none;
  transform: none;
}
.tech,
.role {
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
  margin-top: 5px;
}
.features {
  margin-top: 5px;
  padding-left: 20px;
}
.feature {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 5px;
}
