@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap");

.homeSection {
  background-color: rgb(241, 241, 241, 1);
}
.ultraboost-text-container,
.ultraboost-empty-text-container {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 32%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.ultraboost-text-container {
  z-index: 5;
}
.ultraboost-text,
.ultraboost-empty-text {
  font-family: "Tektur", "sans-serif";
  font-weight: 500;
  font-size: 10rem;
  color: black;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  cursor: default;
}
.ultraboost-empty-text-container {
  z-index: 20;
}
.ultraboost-empty-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(241, 241, 241, 0.5);
  /* -webkit-text-stroke-color: red; */
  z-index: 20;
}
.shoe-hero-desktop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6%;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-right: 10%;
  position: relative;
}
.shoe-hero-desktop {
  max-width: 750px;
  width: 100%;
  height: auto;
  opacity: 0;
  transform: translateY(-160px) rotate(-33deg); /* Start 160px higher */
  z-index: 6;
  animation: slideInFromTop 1s forwards;
}
@keyframes slideInFromTop {
  to {
    transform: translateY(0) rotate(-33deg); /* Animate translateY to 0, moving it downwards */
    opacity: 1;
  }
}
.shoe-hero-shadow-desktop {
  max-width: 750px;
  width: 100%;
  height: auto;
  opacity: 0;
  z-index: 5;
  margin: 2% 0 0 13%;
  padding-right: 100px;
  animation: fadeIn 1.5s forwards;
}

@media (min-width: 1700px) {
  .shoe-hero-desktop {
    margin-bottom: 3%;
  }
  .shoe-hero-shadow-desktop {
    margin: 1% 0 0 10%;
  }
  .ultraboost-text,
  .ultraboost-empty-text {
    font-size: 15rem;
  }
}
@media (min-width: 1200px) and (max-width: 1699px) {
  .ultraboost-text,
  .ultraboost-empty-text {
    font-size: 11rem;
  }
}
@media (min-width: 900px) and (max-width: 1099px) {
  .ultraboost-text,
  .ultraboost-empty-text {
    font-size: 8rem;
  }
  .ultraboost-text-container,
  .ultraboost-empty-text-container {
    top: 40%;
    bottom: 0;
    left: 50%;
  }
}
@media (min-width: 770px) and (max-width: 899px) {
  .ultraboost-text,
  .ultraboost-empty-text {
    font-size: 7rem;
  }
  .ultraboost-text-container,
  .ultraboost-empty-text-container {
    top: 40%;
  }
}
@media (min-width: 615px) and (max-width: 769px) {
  .ultraboost-text,
  .ultraboost-empty-text {
    font-size: 7rem;
  }
  .ultraboost-text-container,
  .ultraboost-empty-text-container {
    top: 40%;
  }
}
@media (min-width: 501px) and (max-width: 614px) {
  .ultraboost-text,
  .ultraboost-empty-text {
    font-size: 6rem;
  }
}
.ultraboost-text-mobile,
.ultraboost-text-empty-mobile {
  display: none;
}
@media (min-width: 376px) and (max-width: 500px) {
  /* .ultraboost-text-mobile,
  .ultraboost-text-empty-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vh;
    position: fixed;
    margin-top: 80%;

    font-family: "Tektur", "sans-serif";
    font-size: 4rem;
    transform: rotate(90deg);
    font-weight: 400;
    cursor: default;
  }
  .ultraboost-text-mobile {
    z-index: 4;
  }
  .ultraboost-text-empty-mobile {
    z-index: 7;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(241, 241, 241, 0.5);
  } */

  .ultraboost-text-container,
  .ultraboost-empty-text-container {
    /* display: none; */
    margin-top: 10%;
  }
  .ultraboost-text,
  .ultraboost-empty-text {
    font-size: 4rem;
  }
}
@media (min-width: 326px) and (max-width: 375px) {
  .ultraboost-text-container,
  .ultraboost-empty-text-container {
    margin-top: 20%;
  }
  .ultraboost-text,
  .ultraboost-empty-text {
    font-size: 3rem;
  }
}
@media (min-width: 276px) and (max-width: 325px) {
  .ultraboost-text-container,
  .ultraboost-empty-text-container {
    margin-top: 20%;
  }
  .ultraboost-text,
  .ultraboost-empty-text {
    font-size: 3rem;
  }
}
@media (min-width: 10px) and (max-width: 275px) {
  .homeSection {
    background: radial-gradient(
          circle farthest-side at 0% 50%,
          #ffffff 23.5%,
          #0000 0
        )
        14.7px 21px,
      radial-gradient(circle farthest-side at 0% 50%, #f1f1f1 24%, #0000 0)
        13.3px 21px,
      linear-gradient(#ffffff 14%, #0000 0, #0000 85%, #ffffff 0) 0 0,
      linear-gradient(
          150deg,
          #ffffff 24%,
          #f1f1f1 0,
          #f1f1f1 26%,
          #0000 0,
          #0000 74%,
          #f1f1f1 0,
          #f1f1f1 76%,
          #ffffff 0
        )
        0 0,
      linear-gradient(
          30deg,
          #ffffff 24%,
          #f1f1f1 0,
          #f1f1f1 26%,
          #0000 0,
          #0000 74%,
          #f1f1f1 0,
          #f1f1f1 76%,
          #ffffff 0
        )
        0 0,
      linear-gradient(90deg, #f1f1f1 2%, #ffffff 0, #ffffff 98%, #f1f1f1 0%) 0 0
        #ffffff;
    background-size: 28px 42px;
    background-color: #ffffff;
  }
  /* .ultraboost-text-mobile,
  .ultraboost-text-empty-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vh;
    position: fixed;
    margin-top: 120%;

    font-family: "Tektur", "sans-serif";
    font-size: 4.5rem;
    transform: rotate(90deg);
    font-weight: 400;
    cursor: default;
  }
  .ultraboost-text-mobile {
    z-index: 4;
  }
  .ultraboost-text-empty-mobile {
    z-index: 7;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(241, 241, 241, 0.5);
  } */
  .ultraboost-text-container,
  .ultraboost-empty-text-container {
    display: none;
  }
}
@media (max-width: 1200px) {
  .shoe-hero-desktop {
    margin-bottom: 5%;
  }
  .shoe-hero-shadow-desktop {
    margin: 1% 0 0 16%;
  }
}
@media (max-width: 1000px) {
  .shoe-hero-desktop-container {
    gap: 3%;
  }
  .shoe-hero-desktop {
    margin-bottom: 7%;
  }
}
@media (max-width: 500px) {
  .shoe-hero-desktop-container {
    gap: 1%;
  }
  .shoe-hero-desktop {
    margin-bottom: 8%;
  }
  .shoe-hero-shadow-desktop {
    margin: 1% 0 0 20%;
    padding-right: 5%;
    width: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
