@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600&display=swap");

.homeSection {
  background-color: rgb(241, 241, 241, 1);
}
.ultraboost-text-container,
.ultraboost-empty-text-container {
  font-family: "Tektur", "sans-serif";
  font-weight: 500;
  font-size: 10rem;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 32%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
}
.ultraboost-text,
.ultraboost-empty-text {
  color: black;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}
.ultraboost-empty-text-container {
  z-index: 20;
}
.ultraboost-empty-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(241, 241, 241, 0.5);
  z-index: 20;
}
.shoe-hero-desktop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6%;
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-right: 10%;
}
.shoe-hero-desktop {
  max-width: 750px;
  width: 100%;
  height: auto;
  opacity: 0;
  transform: translateY(-160px) rotate(-33deg); /* Start 160px higher */
  z-index: 10;
  animation: slideInFromTop 1s forwards;
}
@keyframes slideInFromTop {
  to {
    transform: translateY(0) rotate(-33deg); /* Animate translateY to 0, moving it downwards */
    opacity: 1;
  }
}
.shoe-hero-shadow-desktop {
  max-width: 750px;
  width: 100%;
  height: auto;
  opacity: 0;
  z-index: 5;
  margin: 2% 0 0 13%;
  padding-right: 100px;
  animation: fadeIn 1.5s forwards;
}

@media (min-width: 1700px) {
  .shoe-hero-desktop {
    margin-bottom: 3%;
  }
  .shoe-hero-shadow-desktop {
    margin: 1% 0 0 10%;
  }
}
@media (max-width: 1200px) {
  .shoe-hero-desktop {
    margin-bottom: 5%;
  }
  .shoe-hero-shadow-desktop {
    margin: 1% 0 0 16%;
  }
}
@media (max-width: 1000px) {
  .shoe-hero-desktop-container {
    gap: 3%;
  }
  .shoe-hero-desktop {
    margin-bottom: 7%;
  }
}
@media (max-width: 500px) {
  .shoe-hero-desktop-container {
    gap: 1%;
  }
  .shoe-hero-desktop {
    margin-bottom: 8%;
  }
  .shoe-hero-shadow-desktop {
    margin: 1% 0 0 20%;
    padding-right: 5%;
    width: 100%;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
