.productSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(241, 241, 241, 1);
  position: relative;
}
.product-title-container {
  position: absolute;
  top: 60px;
  z-index: 10;
  font-family: "Tektur", "sans-serif";

  color: black;
  text-align: center;
}
.product-title {
  font-size: 3rem;
  font-weight: 500;
}
.product-price {
  font-size: 1.8rem;
  font-weight: 400;
}

.left-column,
.right-column {
  width: 50vw;
}
.left-column {
  /* border: 1px solid red; */
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #ffff; */
}
.right-column {
  /* border: 1px solid blue; */
  background-color: #ffff;
  height: 0;
  overflow-y: hidden;
  opacity: 0;
}

.right-column.expanded {
  animation: slideInColumnFromTop 0.8s forwards;
}
@keyframes slideInColumnFromTop {
  to {
    height: 100vh;
    opacity: 1;
  }
}

.product-slider-container {
}

/* iPad Air */
@media (width: 820px) and (height: 1180px) {
  .productSection {
    flex-direction: column;
    padding-top: 250px;
  }
  .left-column,
  .right-column {
    width: 100%;
  }
  .left-column {
    height: 100vh;
    width: 68vw;
  }
}

/* iPad Mini */
@media (width: 768px) and (height: 1024px) {
  .productSection {
    flex-direction: column;
    padding-top: 250px;
  }
  .left-column,
  .right-column {
    width: 100%;
  }
  .left-column {
    height: 100vh;
    width: 68vw;
  }
}

/* Surface Pro 7 */
@media (width: 912px) and (height: 1368px) {
  .productSection {
    flex-direction: column;
    padding-top: 250px;
  }
  .left-column,
  .right-column {
    width: 100%;
  }
  .left-column {
    height: 80vh;
    width: 70vw;
  }
  .product-title-container {
    top: 130px;
  }
}

@media (min-width: 10px) and (max-width: 600px) {
  .productSection {
    flex-direction: column;
  }
  .product-title-container {
    position: absolute;
    top: 80px;
  }
  .product-title {
    font-size: 2rem;
  }
  .product-price {
    font-size: 1rem;
  }
  .left-column,
  .right-column {
    width: 100%;
  }
  .left-column {
    /* height: 80vh; */
    /* height: 1000px; */
    /* margin-top: 40%; */

    height: 200vh;
    /* justify-content: end; */
  }
}
@media (min-width: 141px) and (max-width: 500px) {
  .product-title {
    font-size: 1.5rem;
  }
  .product-price {
    font-size: 1rem;
  }
}
@media (min-width: 10px) and (max-width: 140px) {
  .product-title {
    font-size: 1rem;
  }
  .product-price {
    font-size: 1rem;
  }
}

/* RIGHT COLUMN */
.right-column {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-left: 50px;
}
