@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Tektur:wght@400;500;600&display=swap");

.product-info-box-wrapper {
  margin-top: 40px;
  width: 100%;
  width: fit-content;
  height: auto;
  height: 350px;
}

.info-box-sections-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px 5vw;
  flex-wrap: wrap;
}
.section-title {
  font-family: "Tektur", sans-serif;
  font-size: 0.9rem;
  color: #d3d3d3;
  letter-spacing: 0.02rem;
  cursor: pointer;
}
.section-title.active {
  font-family: "Tektur", sans-serif;
  font-size: 0.9rem;
  color: black;
  cursor: default;
}

.product-info-hr {
  border-top: 1px solid black;
  margin-top: 5px;
  width: 100%;
}

.description-content-container {
  padding-top: 10px;
  width: fit-content;
  height: 250px;
  padding-bottom: 30px;
}
.description-content-headline {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  margin-bottom: 5px;
}
.description-content-container {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

.details-content-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 30px 20px;
}
.details-list {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}
.details-list-item {
  margin-bottom: 10px;
}
