.slider {
  /* scale: 0.5; */

  display: flex;
  justify-content: center;
  align-items: center;

  border: 2px solid green;
  width: auto;
  /* max-width: 50hw; */
  max-width: 800px;
  width: 100%;
  height: 100%;
  max-height: 800px;
  position: relative;
  overflow: hidden;
}
.slide {
  /* top: 50%; */
  /* margin-top: -50%; */
  /* right: 50%; */
  /* margin-right: -50%; */

  position: absolute;
  width: 100%;
  height: auto;
  /* padding: 10px; */
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  /* background-color: #f1f1f1f1; */
  transition: transform 0.8s ease;

  padding-right: 30px;
  padding-left: 30px;
}

.slide > img {
  /* width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%; */

  /* width: 500px; */
  /* height: 500px; */
}

.button-left,
.button-right {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
}
.button-left {
  top: 50%;
  left: 0px;
}
.button-right {
  top: 50%;
  right: 0;
}

@media (min-width: 520px) and (max-width: 600px) {
  .slider {
    margin-top: 20vh;
    width: 85vw;
  }
}
@media (min-width: 10px) and (max-width: 519px) {
  .slider {
    margin-top: 20vh;
    width: 100vw;
  }
}
