.slider {
  /* scale: 0.5; */

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 2px solid green; */
  width: auto;
  /* max-width: 50hw; */
  max-width: 800px;
  width: 100%;
  height: 100%;
  max-height: 800px;
  position: relative;
  overflow: hidden;
}
.slide {
  /* top: 50%; */
  /* margin-top: -50%; */
  /* right: 50%; */
  /* margin-right: -50%; */

  position: absolute;
  width: 100%;
  height: auto;
  /* padding: 10px; */
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  /* background-color: #f1f1f1f1; */
  transition: transform 0.8s ease;

  padding-right: 30px;
  padding-left: 30px;
}

.slide > img {
  /* width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%; */

  /* width: 500px; */
  /* height: 500px; */
}

.button-left,
.button-right {
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
}
.button-left {
  top: 50%;
  left: 10px;
  color: #d3d3d3;
}
.button-right {
  top: 50%;
  right: 10px;
  color: #d3d3d3;
}

.slider-dots-container {
  position: absolute;
  bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5%;
  width: 100%;
}

.slider-dot {
  border-radius: 50%;
  background-color: none;

  width: 15px;
  height: 15px;
  border: 2px solid #d3d3d3;
}
.slider-dot.active {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: black;
  border: none;
}

@media (min-width: 520px) and (max-width: 600px) {
  .slider {
    margin-top: 20vh;
    width: 70vw;
  }
  .button-left {
    left: 0px;
  }
  .button-right {
    right: 0px;
  }
  .slider-dots-container {
    bottom: 2vh;
  }
  .slider-dot {
    width: 12px;
    height: 12px;
  }
  .slider-dot.active {
    width: 15px;
    height: 15px;
  }
}
@media (min-width: 10px) and (max-width: 519px) {
  .slider {
    margin-top: 20vh;
    width: 80vw;
  }
  .button-left {
    left: 0px;
  }
  .button-right {
    right: 0px;
  }
  .slider-dot {
    width: 10px;
    height: 10px;
  }
  .slider-dot.active {
    width: 14px;
    height: 14px;
  }
  .slider-dots-container {
    bottom: 0vh;
  }
}

/* iPad Air */
@media (width: 820px) and (height: 1180px) {
  .slider-dot {
    width: 15px;
    height: 15px;
  }
  .slider-dot.active {
    width: 20px;
    height: 20px;
  }
  .slider-dots-container {
    bottom: 1vh;
  }
}

/* iPad Mini */
@media (width: 768px) and (height: 1024px) {
  .slider-dot {
    width: 12px;
    height: 12px;
  }
  .slider-dot.active {
    width: 18px;
    height: 18px;
  }
  .slider-dots-container {
    bottom: 1vh;
  }
}

/* Surface Pro 7 */
@media (width: 912px) and (height: 1368px) {
  .slider-dot {
    width: 12px;
    height: 12px;
  }
  .slider-dot.active {
    width: 18px;
    height: 18px;
  }
  .slider-dots-container {
    bottom: 1vh;
  }
}
