@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Tektur:wght@400;500;600&display=swap");

.navivationArrows-wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 5px;
}

.navigationArrows-content-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.arrowUp,
.arrowDown {
  width: 26px;
  height: auto;
}

.vertical-line {
  border: 1px solid black;
  height: 80px;
}

/* TOP MENU DESKTOP */
.menu-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 10% 0 0;
  z-index: 45;
}

.menu-container {
  background-color: black;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  padding: 0 20px 17px 20px;
  border-bottom-right-radius: 10px;
}

.adidas-logo {
  width: 50px;
  height: auto;
}

a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

a::before,
.about-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #d3d3d3;
  bottom: -7px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

a:hover::before,
.about-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.text-links {
  color: #ffffff;
  line-height: 0.6em;
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
  font-size: 1rem;
}

.about-link {
  cursor: pointer;
  position: relative;
}
.mobile-menu-wrapper {
  display: none;
}

.mobile-menu-contents {
  display: none;
}

@media (max-width: 500px) {
  .menu-container {
    display: none;
  }
  .mobile-menu-wrapper {
    width: 50px;
    height: 50px;
    z-index: 300;
    margin: 25px 0px 0px 5%;
    border-radius: 5px;
    display: block;
  }
  .visuallyHidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
  .hamburger {
    margin: 0 auto;
    margin-top: 0px;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  .hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: black;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
  }

  .bar1 {
    top: 0;
  }

  .bar2,
  .bar3 {
    top: 10px;
  }

  .bar3 {
    right: 0;
  }

  .bar4 {
    bottom: 6px;
  }
  /* HAMBURGER 3 */
  .hamburger3 .bar1 {
    transform-origin: 15%;
  }

  .hamburger3 .bar4 {
    transform-origin: 12%;
  }

  .checkbox3:checked + label > .hamburger3 > .bar1 {
    transform: rotate(45deg);
    height: 3px;
    width: 40px;
  }

  .checkbox3:checked + label > .hamburger3 > .bar3 {
    transform: rotate(45deg);
    height: 3px;
    background-color: transparent;
  }

  .checkbox3:checked + label > .hamburger3 > .bar2 {
    transform: rotate(-45deg);
    height: 3px;
    background-color: transparent;
  }

  .checkbox3:checked + label > .hamburger3 > .bar4 {
    transform: rotate(-45deg);
    height: 3px;
    width: 40px;
  }

  /* MOBILE MENU CONTENTS */
  .mobile-menu-contents {
    display: block;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    transition: height 0.5s ease-in-out;
    z-index: 99;
    position: absolute;
    border: 6px solid black;
    border-radius: 10px;
    transition: left 3.5s ease-in-out;
    overflow-y: auto;
  }

  .mobile-menu-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 40vh;
    z-index: 300;
    position: relative;
    padding-top: 80px;
  }
  .adidas-logo-small-black {
    width: 100px;
    height: auto;
    padding-bottom: 20px;
  }

  .about-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobile-menu-option {
    color: black;
    font-family: "Tektur", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 400;
    cursor: pointer;
  }
  .mobile-menu-option::before {
    transform: none;
    background-color: transparent;
  }

  .about-copy-container-mobile {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 100%; */
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 20px 0px 20px;
  }
  .description-copy-mobile {
    font-size: 1rem;
  }
  .features-container-mobile {
    margin-top: 20px;
  }
  .features-header-mobile {
    font-size: 1.02rem;
    font-weight: 600;
  }
  .features-mobile {
    font-size: 0.95rem;
    padding-left: 20px;
  }
  .feature-mobile {
    margin-top: 5px;
  }
  .tech-container-mobile {
    margin-top: 20px;
  }
  .tech-header-mobile {
    font-size: 1.02rem;
    font-weight: 600;
  }
  .tech-mobile {
    font-size: 0.95rem;
    font-style: italic;
  }
}

.github {
  font-weight: 500;
}

/* CART DESKTOP */
.cart-desktop-container {
  width: 65px;
  /* height: 75px; */
  background-color: black;
  align-self: center;
  border-radius: 0 0 5px 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  transition: height 0.2s ease-in-out;
  padding-bottom: 17px;
  margin-top: -100px;
  z-index: 100;
}

.handbag-icon {
  width: 28px;
  height: auto;
  z-index: 30;
  color: #ffffff;
  cursor: grab;
}
